<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous"/>
    <!-- date picker css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/loading.css}"/>
  <!-- trend graph -->
  <link rel="stylesheet" th:href="@{/css/trend-graph.css}"/>
  <link rel="stylesheet" th:href="@{/css/tree-graph.css}"/>
</head>

<body>
  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    제품안전모니터링
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/category">-수집데이터 모니터링
                    </a>
                    <a class="dropdown-item" href="/category1">-데이터 검색</a>
                    <a class="dropdown-item" href="#">-시스템성능 모니터링</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    데이터 분석
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/data-analysis">-추이분석
                    </a>
                    <a class="dropdown-item" href="/data-analysis2">-연관어 분석</a>
                    <a class="dropdown-item" href="#">-비교 분석</a>
                </div>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->

    </nav>
    <div class="wrapper">
      <!-- Filter area -->
      <form class="form-inline" id="form-product-search">
        <div class="form-group">

          <h3><span class="badge badge-pill badge-default">제품분류</span></h3>
          <select class="form-control" id="exampleFormControlSelect1">
                                                          <option>스마트폰</option>

                                                        </select>
        </div>
        <div class="form-group">
          <h3><span class="badge badge-pill badge-default">제품분류</span></h3>

          <select class="form-control" id="exampleFormControlSelect1">
                                                          <option>갤럭시 노트 8</option>

                                                        </select>
          <a href="#" id="search-button"><img src="../images/search.png" alt=""  class="img-fluid">
                                                        </a>
        </div>
        <div class="form-group">
          <h3><span class="badge badge-pill badge-default">기간설정</span></h3>
          <div class="input-group date">
            <input type="text" class="form-control" id="datepicker-start" placeholder="MM/DD/YYYY">
            <input type="text" class="form-control" id="datepicker-end" placeholder="MM/DD/YYYY">
        </div>
          <!-- <select class="form-control" id="exampleFormControlSelect1">
                                                            <option>17/08/01~17/10/01
                                                              </option>

                                                          </select> -->
         <a href="/detail"> <img src="../images/calendar.png" alt="" class="img-fluid"></a>
        </div>
      </form>



      <!-- Filter area -->
      <!-- Graph area -->
      <div class="row mx-auto">
        <div class="mx-auto col-6 col-sm-3" id="issue-product">
          <h4 class="text-center">이슈제품 순위
          </h4>
          <ol class="list-group" style="color:black">
            <a href="">
              <li class="list-group-item">1. 갤럭시노트8
              </li>
            </a>
            <li class="list-group-item">
              <a href="">
                              2. 아이폰X
                            </a>
            </li>
            <li class="list-group-item">
              <a href="">
                              3. 갤럭시S8
                            </a>
            </li>
            <li class="list-group-item">
              <a href="">4. 아이폰8</a>
            </li>
            <li class="list-group-item">
              <a href="">
                              5. G7
                            </a>
            </li>
            <li class="list-group-item">
              <a href="">
                               6. G8
                              </a>
            </li>
          </ol>
        </div>

        <div class="col-9  mx-auto" id="issue-summary">

          <div class="row graph-wrapper mt-5 ml-0">
              <img src="../images/dashbaord-graph2.png" alt="" class="rounded img-fluid mx-auto">

            <img src="../images/dashbaord-graph2.png" alt="" class="rounded img-fluid mx-auto">


          </div>

          <div class="row mx-auto mb-5 mt-5" id="top-ten-search">
            <form action="" class="form-inline">
              <div class="form-group">
                <!-- <label for="">제품분류</label> -->
                <h3><span class="badge badge-pill badge-default" style="color:black">N</span></h3>
                <select class="form-control" id="exampleFormControlSelect1">
                                        <option>10</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
              </div>
              <button class="btn btn-danger ml-3">상세보기</button>
            </form>

          </div>
          <div class="card-deck mb-5">
              <div class="card list-group-item-danger text-dark">
                 <div class="card-block">
                  <h5 class="card-title">연관 키워드 순위
                    </h5>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">1. 아이폰</a>
                        <a href="#" class="list-group-item list-group-item-action ">2. 갤럭시 s8
                          </a>
                        <a href="#" class="list-group-item list-group-item-action ">3. 3 삼성
                          </a>
                        <a href="#" class="list-group-item list-group-item-action ">4. 아이폰7
                          </a>
                        <a href="#" class="list-group-item list-group-item-action ">5. 케이스
                          </a>
                          <a href="#" class="list-group-item list-group-item-action ">6. 노트

                            </a>
                            <a href="#" class="list-group-item list-group-item-action ">7. 기종

                              </a>
                              <a href="#" class="list-group-item list-group-item-action ">8. LG

                                </a>



                      </div>



                  </div>
              </div>
              <div class="card list-group-item-danger text-dark">
                  <div class="card-block">
                      <h5 class="card-title">연관 위해 키워드 순위

                        </h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">1. 발열
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">2. 배터리
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">3. 꺼짐
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">4. 느림
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">5.</a>
                            <a href="#" class="list-group-item list-group-item-action ">6.</a>
                            <a href="#" class="list-group-item list-group-item-action ">7.</a>
                            <a href="#" class="list-group-item list-group-item-action ">8.</a>


                          </div>



                      </div>
              </div>
              <div class="card list-group-item-danger text-dark">
                  <div class="card-block">
                      <h5 class="card-title">주간 급증 연관 키워드 순위

                        </h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">1. 스마트폰

                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">2. 예약판매

                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">3. 지원금
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">4. 사은품

                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">5. 상담
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">6. 갤럭시
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">7. 반환금
                              </a>
                            <a href="#" class="list-group-item list-group-item-action ">8. 노트
                              </a>


                        </div>



                      </div>
              </div>
            </div>

            <!-- line graph -->
             <!-- Result Info -->
            <div id="graph-result">
              <div class="p-3 mb-2 bg-dark-red text-white"><span id="result-text">‘갤럭시노트8’의 연관문서 수집량

            </span>



            </div>
            <div class="row mx-auto text-center">
              <!-- <img src="./images/dashboard-line-graph.png" class="rounded img-fluid mx-auto" alt=""> -->

                <div id="trend">
                </div>
            </div>
          </div>





        </div>

      </div>
      <!-- Graph area -->
      <div class="row mx-auto">


      </div>


    </div>


    <!-- </div> -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
      crossorigin="anonymous"></script>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <!-- date picker -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script>
      $('#datepicker-start').datepicker();
      $('#datepicker-end').datepicker();
      // TODO: form product search
      $('#form-product-search').submit(function(event){
        //event.preventDefault();

      });
      $("#search-button").click(function(){
        //$(".se-pre-con").fadeIn(1000);
         $('.card-deck,#top-ten-search').fadeOut(1000,function(){
          //$(".se-pre-con").fadeOut(3000);
         });
         $('#graph-result').show();

      });
    </script>


<!-- loading -->
<div class="se-pre-con"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script th:src="@{/js/loading.js}"></script>
<!-- trend graph -->
<script th:src="@{/js/trend-graph.js}"></script>
<script th:src="@{/js/tree-graph.js}"></script>
</body>

</html>